#primary {
  padding-block: 20px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3) {
    justify-self: end;
  }
}

#secondary {
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
}

@media (width <= 31em) {
  #primary strong {
    display: none;
  }

  .logo {
    width: 6.25rem;
    height: 1.25rem;
    object-fit: contain;
  }
}

@media (width <= 61em) {
   #secondary {
    overflow: scroll;
    white-space: nowrap;
    gap: 2rem;
  }
}
